<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="http://materializecss.com/images/sample-1.jpg">
        <span class="card-title">打診家庭検索</span>
      </div>
      <div class="card-content">
        <p>近い距離の家庭を検索します。</p>
      </div>
      <div class="card-action">
        <a href="/admins/auth/google_oauth2">ログイン</a>
      </div>
    </div>
  </div>
</div>