<!-- TODO: ここの文面はmanmaメンバーと要相談 -->
<div class="container mt30 pt20 fs30 YuGothic text-center">
  <p>すでにご家庭とのマッチングが成立しています。</p>
  <p>次の機会にどうぞよろしくお願いします！</p>
  <%= image_tag("manma_chan.png", :size => "200") %>
</div>

<p class="mt30"><a class="close_window pointer" onclick="window.open('about:blank','_self').close()">閉じる</a></p>
