/* Place all the styles related to the request/confirm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*= require_tree .
*= require sweetalert2
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.btn-pink {
  color: white;
  background-color: pink;
  border: pink;
}

#table-info {
  width: 100%;
  font-size: 15px;
  border-spacing: 10px;
  margin-bottom: 50px;

  th {
    width: 120px;
    text-align: center;
    font-weight: normal;
  }

}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: pink;
  margin-top: 100px;

  p {
    font-family: "Times New Roman";
    padding-top: 15px;
    text-align: right;
    font-size: 15px;
    color: white;
  }
}
