<%= form_tag({action: :search}, {method: :get}) do %>
    <div class="row">
      <div class="input-field col s12">
        <%= text_field_tag :address, @address, placeholder: '東京都千代田区1-1-1' %>
        <%= label_tag :address, '家庭検索' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" name="action" type="submit">検索<i class="material-icons left">search</i>
        </button>
      </div>
    </div>
<% end %>
