<table>
  <thead>
  <tr>
    <th>名前</th>
    <th>住所</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @family.name %>
    </td>
    <td>
      <%= @family.location.address %>
    </td>
  </tr>
  </tbody>
</table>
