<% breadcrumb :complete_mail, @users  %>
<p>以下の内容で送信しました</p>

<h5>宛先メールアドレス</h5>
<p><%= (@users.map { |user| user.contact.email_pc }).join(',') %></p>

<h5>タイトル</h5>
<%= @title %>
<h5>本文</h5>
<p><%= simple_format(@body) %></p>
<script type="application/javascript">
  $(function() {
    document.title = "送信完了";
  });
</script>