<div class="footer" style="line-height:18px; padding:10px; font-size:12px; color:#999; text-align:center;">
  &copy; <%= Date.today.strftime('%Y') %> Manma
  <a href="http://manma.co/" style="color:#4cc1b0;">ホームページ</a>
  <br>
  家族をひろげ、１人１人を幸せに。
</div>