<div class="header" style="height:25px; padding: 7px 10px 5px 10px; background-color:#FF99B9;">
  <a href="http://manma.co" style="text-decoration:none;">
    <img src="http://manma.co/assets/resource/img/common/favicon.png" alt="Manma" style="border:0; height:25px;">
  </a>
</div>