<div class="header" style="height:25px; padding: 7px 10px 5px 10px; background-color:#FF99B9;">
  <a href="http://canpath.jp" style="text-decoration:none;">
    <img src="http://manma.co/wp-content/themes/manmatheme.io/image/logo/logo.png" alt="Manma" style="border:0; height:25px;">
  </a>
</div>