
<p><%= @user.name %>様</p>

<p>この度は、家族留学の受け入れ打診にご回答くださり、ありがとうございました。</p>
<p>以下理由にて今回は受け入れ難しい旨、承りました。</p>
<p>理由：<%= @reason %></p>

<p>またの機会に、ぜひ受け入れをお願いできれば幸いです。</p>

<p>その他、ご意見・ご質問等ございましたら <br>
  info@manma.co まで、お気軽にご連絡ください。</p>


manma