
<p>この度、ご提出いただいた候補日でご家庭に打診を開始いたしました。</p>

<p>
  マッチングが成立いたしましたら、ご連絡させていただきますので
  今しばらくお待ちください。
</p>

<p>１週間以内にマッチングが成立しなかった場合、manmaから再度ご連絡いたします。</p>

<p>＜再度日程調整 or キャンセル＞のご意向を３日以内にご回答ください。</p>
<p>再度、ご家庭に受け入れの打診をさせていただきます。</p>
<br>
<p>その他、なにかご不明な点がございましたら</p>
<p>info@manma.co までお気軽にご連絡ください。</p>
<p>引き続き、どうぞ宜しくお願い致します。</p>

manma