
<small>こちらは自動送信メールです。</small>

<p>=========================</p>
<p><%= @log.name %>様</p>

<p>お世話になっております。</p>
<p>manmaのマッチング担当です。</p>
<p>大変申し訳ございませんが、ご提出いただいた候補日で
  家族留学のマッチングの成立致しませんでした。</p>

<p>再度、マッチングを希望される場合は下記の
  フォーマットに入力の上、３日以内にご返信ください。</p>

<p>再度、打診させていただきます。</p>

<p>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>

<p>●実施可能日程・時間</p>
<p>※候補日は５日ほどお出し下さい。</p>

<p>家族留学の時間は５時間以上空いている日でご検討ください。</p>

<p>例)</p>
<ul>
  <li>◯/◯（土）10:00 - 19:00</li>
  <li>◯/◯（日）終日</li>
</ul>


<p>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>


<p>その他、ご不明な点がございましたら
  info@manma.co までご連絡ください。</p>
<p>どうぞ宜しくお願い致します。</p>
