<p><%= @study_abroad.name %>様</p>

<p>お世話になっております。<br>
  manmaのマッチング担当です。</p>
<p>大変申し訳ございませんが、ご提出いただいた候補日で <br>
  家族留学のマッチングの成立致しませんでした。</p>

<p>再度、マッチングを希望される場合は下記の <br>
フォーマットに入力の上、３日以内に <br>
  このメールに「件名を変えず」にご返信ください。</p>

<p>改めてご家庭に受け入れの打診をさせていただきます。</p>

<p>＝＝＝＝＝フォーマット＝＝＝＝＝</p>
<ul>
  <li>氏名：</li>
  <li>メールアドレス：</li>
</ul>

<p>打診家庭：どちらかを選択してください</p>
<ol>
  <li>同じ家庭に打診する</li>
  <li>違う家庭に打診する</li>
</ol>

<p>参加希望時間帯：下記のテンプレートに沿って記入してください <br>
  ※以前提出いただいた日程に加えて、本日から２週間後以降でいくつか追加して挙げていただけると幸いです。</p>

<p>例)</p>
<ul>
  <li>◯/◯（土）10:00 - 19:00</li>
  <li>◯/◯（日）終日</li>
</ul>

<p>※５時間以上空いている日時に限ります <br>
  ※平日の夕方以降もしくは土日ですとマッチングしやすいです</p>

<p>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>


<p>今回再打診を希望されない場合は、お申込みはキャンセルとさせていただきます。 <br>
  改めて、家族留学へのご参加希望の場合は、下記フォームより申し込みをいただけたら幸いです。</p>

<p>＜参加申し込みフォーム＞<br>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScdXqmVOPD3MgtuDGkyx8ooQaZw63SSXn-Pv2d0QCAfotQiHw/viewform">https://docs.google.com/forms/d/e/1FAIpQLScdXqmVOPD3MgtuDGkyx8ooQaZw63SSXn-Pv2d0QCAfotQiHw/viewform</a></p>

<p>その他、ご不明な点がございましたら
info@manma.co までご連絡ください。</p>
<p>どうぞ宜しくお願い致します。</p>
