defaults: &defaults
  email_type:
    readjustment: 'readjustment_to_candidate'
    request: 'request_email_to_family'
    manma: 'notify_to_manma'
    family_matched: 'notify_to_family_matched'
    candidate: 'notify_to_candidate'
    readjustment_to_manma: 'readjustment_to_manma'
    three_days: 'reminder_three_days'
    matching_start: 'matching_start'
    deny: 'deny'
  # スプレッドシート上のカラム番号 A=0, B=1, C=2...と対応している
  sheet:
    timestamp: 0
    name: 1
    kana: 2
    email_pc: 3
    email_phone: 4
    address: 5
    mothers_birthday: 6
    fathers_birthday: 7
    job_style: 8
    mothers_job_domain: 9
    fathers_job_domain: 10
    number_of_children: 11
    is_photo: 12
    is_report: 13
    married_mother_age: 14
    first_childbirth_mother_age:  15
    child_birthday: 16
    mothers_hometown: 17
    fathers_hometown: 18
    mothers_company: 19
    fathers_company: 20
    mothers_experience_abroad: 21
    fathers_experience_abroad: 22
    has_time_shortening_experience: 23
    has_childcare_leave_experience: 24
    has_job_change_experience: 25
    mothers_career: 26
    fathers_career: 27
    opinion_or_question: 28
    is_male: 29
    phone_number: 30
    married_father_age: 31
    second_child_birthday: 32
    third_child_birthday: 33
    blank1: 34 # 空白
    recognization: 35
    blank2: 36 # 空白
    latitude: 37
    longitude: 38
  job_style:
    # none: 指定なし
    # both: 共働き
    # both_single: 共働き(シングルマザー)
    # homemaker: 専業主婦(夫)
    none: -1
    both: 0
    both_single: 1
    homemaker: 2
    str:
      none: '指定なし'
      both: '共働き'
      both_single: '共働き ※シングルマザー（ファザー）含む'
      homemaker: 'どちらかが専業主婦（夫）'
  is_male:
    ng: 0
    ok: 1
    str:
      all_participant: '全参加者'
      ng: 'NG'
      ok: 'OK'
  is_photo:
    ng: 0
    ok: 1
    caution: 2
    str:
      title: '家族留学の際に撮影した写真をmanma HPやFacebookで使用してもよろしいでしょうか？（学生が撮影したご家庭の様子が写った写真が、manma HPやFacebookに掲載される可能性がございます。）'
      ng: 'いいえ'
      ok: 'はい'
      caution: 'お子さんの顔がはっきり映らなければOK'
  is_report:
    ng: 0
    ok: 1
    caution: 2
    str:
      title: '家族留学終了後にご提出いただくレポートをmanma HPやFacebookで使用してもよろしいでしょうか？'
      ng: 'いいえ'
      ok: 'はい'
      caution: 'お子さんの顔がはっきり映らなければOK'
  participant:
    name: 1
    kana: 2
    belong: 3
    email: 4
  job_domain:
    str:
      homemaker: '専業主婦・専業主夫（パート・アルバイトは除く）'
      maker: 'メーカー（食品、飲料、繊維、木材、印刷、化学、鉄鋼、精密機器）'
      restaurant: '飲食店・宿泊業・娯楽'
      store: '百貨店・ストア・専門店'
      retail: '卸売・小売'
      finance: '金融証券・保険'
      media: '情報＜メディア＞（マスコミ、新聞、出版、放送）'
      it: '情報＜IT＞（通信、IT）'
      infrastructure: 'インフラ'
      real_state: '不動産'
      medical: '医療・福祉'
      education: '教育・学習支援業'
      consultant: '専門サービス（税理士、弁護士、学術機関職員、広告、コンサル、人材など）'
      public: '公務員、官公庁'
      self: '自営業'
      npo: '非営利団体'
  has_experience_abroads:
    str:
      abroad_and_work: '海外留学及び勤務の経験あり'
      abroad_only: '海外留学の経験あり'
      work_only: '海外勤務の経験あり'
      none: 'どちらも経験無し'
  has_time_shortening_experiences:
    str:
      both: 'お父様及びお母様の時短勤務のご経験あり'
      mother_only: 'お母様のみ時短勤務のご経験あり'
      father_only: 'お父様のみ時短勤務のご経験あり'
      none: 'どちらもご経験無し'
  has_childcare_leave_experiences:
    str:
      both: 'お父様及びお母様の育休のご経験あり'
      mother_only: 'お母様のみ育休のご経験あり'
      father_only: 'お父様のみ育休のご経験あり'
      none: 'どちらもご経験無し'
  has_job_change_experiences:
    str:
      both: 'お父様及びお母様の転職のご経験あり'
      mother_only: 'お母様のみ転職のご経験あり'
      father_only: 'お父様のみ転職のご経験あり'
      none: 'どちらもご経験無し'
  gender:
    str:
      woman: '女性'
      man: '男性'
      unknown: '不明'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
