defaults: &defaults
  email_type:
    reajustment: 'readjustment_to_candidate'
    request: 'request_email_to_family'
  # スプレッドシート上のカラム番号 A=0, B=1, C=2...と対応している
  sheet:
    timestamp: 0
    name: 1
    kana: 2
    email_pc: 3
    email_phone: 4
    address: 5
    mothers_birthday: 6
    fathers_birthday: 7
    job_style: 8
    job_domain: 9
    number_of_children: 11
    is_photo: 12
    is_report: 13
    married_mother_age: 14
    first_childbirth_mother_age:  15
    child_birthday: 16
    mothers_hometown: 17
    fathers_hometown: 18
    mothers_company: 19
    fathers_company: 20
    mothers_experience_abroad: 21
    fathers_experience_abroad: 22
    has_time_shortening_experience: 23
    has_childcare_leave_experience: 24
    has_job_change_experience: 25
    mothers_career: 26
    fathers_career: 27
    opinion_or_question: 28
    is_male: 29
    married_father_age: 30
    phone_number: 31

  job_style:
    # none: 指定なし
    # both: 共働き
    # both_single: 共働き(シングルマザー)
    # homemaker: 専業主婦(夫)
    none: -1
    both: 0
    both_single: 1
    homemaker: 2
    str:
      none: '指定なし'
      both: '共働き'
      both_single: '共働き ※シングルマザー（ファザー）含む'
      homemaker: 'どちらかが専業主婦（夫）'
  is_male:
    ng: 0
    ok: 1
    str:
      all_participant: '全参加者'
  is_photo:
    ng: 0
    ok: 1
    caution: 2
    str:
      title: '家族留学の際に撮影した写真をmanma HPやFacebookで使用してもよろしいでしょうか？（学生が撮影したご家庭の様子が写った写真が、manma HPやFacebookに掲載される可能性がございます。）'
      ng: 'いいえ'
      ok: 'はい'
      caution: 'お子さんの顔がはっきり映らなければOK'
  is_report:
    ng: 0
    ok: 1
    caution: 2
    str:
      title: '家族留学終了後にご提出いただくレポートをmanma HPやFacebookで使用してもよろしいでしょうか？'
      ng: 'いいえ'
      ok: 'はい'
      caution: 'お子さんの顔がはっきり映らなければOK'
  participant:
    name: 1
    kana: 2
    belong: 3
    email: 4

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
