<% breadcrumb :edit_news_letter, @news_letter  %>

<%= form_for @news_letter, url: admin_news_letter_path, method: 'patch' do |f| %>
    <div id="news_letter">
      <%= render 'shared/error_message', object: f.object %>
      <%= render 'form', f:f %>
      <%= f.submit '更新する', class: 'btn btn-primary' %>
    </div>
<% end %>