
<h4>ニュースレターの作成</h4>
<p>このフォームから参加者のみに対してのニュースレターと <br>
  家庭に一斉送信するメールを作成できます。 </p>


<%= form_for @news_letter, url: admin_news_letter_index_path do |f| %>
    <%= render 'shared/error_message', object: f.object %>
<% end %>