/* padding */
.pd1 {
  padding: 1px;
}
.pd10 {
  padding: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt200{
  padding-top: 200px;
}

/* margin */
.mt30 {
  margin-top: 30px;
}
.mb1 {
  margin-bottom: 1px;
}
.mb100 {
  margin-bottom: 100px;
}

/* text-align */
.text-center {
  text-align: center;
}

/* line-height */
.lh-half {
  line-height: 50%;
}

/* font-size */
.fs15 {
  font-size: 15px;
}
.fs20 {
  font-size: 20px;
}
.fs30 {
  font-size: 30px;
}
.fs40 {
  font-size: 40px;
}
.fs50 {
  font-size: 50px;
}

/* font-weight */
.bold {
  font-weight: bold;
}
/* font-family */
.YuGothic {
  font-family: YuGothic;
}

/* background-color */
.bg-pink {
  background-color: pink;
}

/* 家庭が閲覧するページのフォーム */
.manma-form-item {
  font-size: 15px;
  padding: 25px 0;
}

#footer p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 1em;
}
